## Deliverable 2. Create a Customer Travel Destinations Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nhulunbuy,AU,-12.23,136.77,69.80,94,99,3.36,overcast clouds
1,1,Riyadh,SA,24.69,46.72,95.00,15,10,5.82,clear sky
2,2,Yumen,CN,40.28,97.20,62.60,27,100,6.06,overcast clouds
3,3,Barrow,US,71.29,-156.79,37.40,93,90,14.99,mist
4,4,Dogondoutchi,NE,13.64,4.03,84.65,61,49,6.15,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Angoche,MZ,-16.23,39.91,75.18,73,72,13.13,broken clouds
15,15,Kavaratti,IN,10.57,72.64,79.66,85,100,17.58,light rain
23,23,Westport,US,41.14,-73.36,77.00,94,90,6.93,overcast clouds
29,29,Marovoay,MG,-16.10,46.63,75.20,78,20,5.82,few clouds
34,34,Atuona,PF,-9.80,-139.03,79.11,77,8,22.44,clear sky
49,49,Shelton,US,41.32,-73.09,75.20,94,90,6.93,light rain
52,52,Bengkulu,ID,-3.80,102.27,76.33,91,85,8.39,moderate rain
56,56,Gazojak,TM,41.19,61.40,76.84,19,0,10.67,clear sky
58,58,Salalah,OM,17.02,54.09,78.80,94,75,4.70,broken clouds
59,59,Sao Filipe,CV,14.90,-24.50,77.00,83,73,12.84,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                132
City                   132
Country                132
Lat                    132
Lng                    132
Max Temp               132
Humidity               132
Cloudiness             132
Wind Speed             132
Current Description    132
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp Current Description    Lat     Lng Hotel Name
8      Angoche      MZ     75.18       broken clouds -16.23   39.91
15   Kavaratti      IN     79.66          light rain  10.57   72.64
23    Westport      US     77.00     overcast clouds  41.14  -73.36
29    Marovoay      MG     75.20          few clouds -16.10   46.63
34      Atuona      PF     79.11           clear sky  -9.80 -139.03
49     Shelton      US     75.20          light rain  41.32  -73.09
52    Bengkulu      ID     76.33       moderate rain  -3.80  102.27
56     Gazojak      TM     76.84           clear sky  41.19   61.40
58     Salalah      OM     78.80       broken clouds  17.02   54.09
59  Sao Filipe      CV     77.00       broken clouds  14.90  -24.50

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Angoche,MZ,75.18,broken clouds,-16.23,39.91,Guest House HESADA
15,Kavaratti,IN,79.66,light rain,10.57,72.64,Hotels in Lakshadweep Islands
23,Westport,US,77.00,overcast clouds,41.14,-73.36,The Westport Inn
29,Marovoay,MG,75.20,few clouds,-16.10,46.63,
34,Atuona,PF,79.11,clear sky,-9.80,-139.03,Villa Enata
...,...,...,...,...,...,...,...
674,Shorapur,IN,77.20,overcast clouds,16.52,76.75,Government Old ST SC Hostel Shorapur ( ಸುರಪುರ )
685,Malindi,KE,76.37,clear sky,-3.22,40.12,African House Resort
703,Mayor Pablo Lagerenza,PY,79.23,clear sky,-19.93,-60.77,
710,Arrecife,ES,78.80,few clouds,28.96,-13.55,Hotel Lancelot
711,Embu,BR,77.00,few clouds,-23.65,-46.85,Hotel Rancho Silvestre

In [36]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [37]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(inplace=True)

In [38]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Angoche,MZ,75.18,broken clouds,-16.23,39.91,Guest House HESADA
15,Kavaratti,IN,79.66,light rain,10.57,72.64,Hotels in Lakshadweep Islands
23,Westport,US,77.00,overcast clouds,41.14,-73.36,The Westport Inn
34,Atuona,PF,79.11,clear sky,-9.80,-139.03,Villa Enata
49,Shelton,US,75.20,light rain,41.32,-73.09,Ansonia Rod & Gun Club
...,...,...,...,...,...,...,...
673,Port Moresby,PG,77.00,few clouds,-9.44,147.18,Lamana Hotel
674,Shorapur,IN,77.20,overcast clouds,16.52,76.75,Government Old ST SC Hostel Shorapur ( ಸುರಪುರ )
685,Malindi,KE,76.37,clear sky,-3.22,40.12,African House Resort
710,Arrecife,ES,78.80,few clouds,28.96,-13.55,Hotel Lancelot
711,Embu,BR,77.00,few clouds,-23.65,-46.85,Hotel Rancho Silvestre

In [40]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))